<div class="container-sm p-0 m-0">
  <h1>Choose your activity pals!</h1>


  <div>
    <%= simple_form_for :participations, url: add_participants_booking_path(@booking), method: :post do |f| %>
      <%= f.input :participants, collection: @potential_participants.map { |el| [el.first_name, el.id] }, as: :check_boxes %>
      <%= f.submit %>
    <% end %>


    <%# <div class="cards-participants">

    </div> %>
  </div>


  <div class="container-sm">
    <div class="row" id="btn-link">
        <%# <%= link_to "Back", activity_path, class: "btn small-btn" %>
        <%# <%= link_to "Go", potential_part_selected_activity_path, class: "btn small-btn" %>
    </div>
  </div>
</div>
