<div class="container-sm p-0 m-0">
  <h1>Choose your activity pals!</h1>


  <div>
    <%= simple_form_for :participations, url: add_participants_booking_path(@booking), method: :post do |f| %>
      <div class="cards-participants">
        <%= collection_check_boxes :participations, :participants, @potential_participants, :id, :id do |b| %>
          <% participant = b.object %>
          <% b.label do %>
            <%= b.check_box %>
            <%= image_tag participant.photo, class: "participant-photo", data: { user_id: participant.id } %>
            <div><%= participant.first_name %> - <%= participant.age %></div>
            <div><%= participant.job %></div>
          <% end %>
        <% end %>
      </div>
      <%= f.submit %>
    <% end %>
  </div>
</div>

  <div class="container-sm">
    <div class="row" id="btn-link">
        <%= link_to "Back", @activity_path, class: "btn small-btn"%>
        <%= link_to "Go", @participants_selected_booking_path, class: "btn small-btn"%>
    </div>
  </div>
</div>
