<div class="container-sm p-0 m-0">
  <h1 class="h1-participants">Choose your activity pals!</h1>

  <div>
    <%= simple_form_for :participations, url: add_participants_booking_path(@booking), method: :post do |f| %>
      <div class="cards-participants">
        <%= collection_check_boxes :participations, :participants, @potential_participants, :id, :id do |b| %>
          <% participant = b.object %>
          <% b.label do %>
            <div class="container card-photo">
              <div class="row container-photo-round">
                <%= b.check_box class: "checkbox" %>
                <label class="label">
                <%= image_tag participant.photo, class: "participant-photo", data: { user_id: participant.id } %>
                </label>
              </div>
              <div class="row card-text-photo">
                <%= participant.first_name %> - <%= participant.age %>yo
              </div>
              <div class="row card-text-photo">
                <%= participant.job %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div id="button-save-participations">
      <%= f.submit class: "submit-button-lg" %>
      </div>
    <% end %>
  </div>
</div>

</div>
