<div class="container-sm">
  <div class="row">
    <div class="col">
          <%= form_with url: category_list_activities_path, method: :get, class: "searchbar d-flex align-items-center my-2" do %>
            <%= text_field_tag :query,
                  params[:query],
                  placeholder: "Where are you going?",
                  style: "width: 250px",
                  class: "flex-grow-1 search-input"
              %>
            <%= submit_tag "Go", name: "", class: "btn btn-primary" %>
          <% end %>
    </div>
  </div>
  <div class="row">
   <div class="d-flex justify-content-center my-5 py-5">
    <div class="parent">
      <div class="circle" id="sample-text">
      <% if @random_activity.photo.attached? %>
        <%= cl_image_tag @random_activity.photo.key %>
      <% end %>
      </div>
      <div class="image-holder">
        <%= cl_image_tag @users_memory[0].photo.key %>
        <%= cl_image_tag @users_memory[1].photo.key %>
        <%= cl_image_tag @users_memory[2].photo.key %>
        <%= cl_image_tag @users_memory[3].photo.key %>
        <%= cl_image_tag @users_memory[4].photo.key %>
        <%= cl_image_tag @users_memory[5].photo.key %>
        <%# <img data-text="A" src="https://images.pexels.com/photos/7275385/pexels-photo-7275385.jpeg?auto=compress&cs=tinysrgb&h=204&fit=crop&w=228&dpr=2" alt="">
        <img data-text="B" src="https://images.pexels.com/photos/8993561/pexels-photo-8993561.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=252&fit=crop&h=408" alt="">
        <img data-text="C" src="https://images.pexels.com/photos/5682847/pexels-photo-5682847.jpeg?auto=compress&cs=tinysrgb&w=800" alt="">
        <img data-text="D" src="https://images.pexels.com/photos/4946515/pexels-photo-4946515.jpeg?auto=compress&cs=tinysrgb&w=800" alt="">
        <img data-text="E" src="https://images.pexels.com/photos/4420634/pexels-photo-4420634.jpeg?auto=compress&cs=tinysrgb&w=800" alt="">
        <%# <img data-text="F" src="https://images.pexels.com/photos/5615665/pexels-photo-5615665.jpeg?auto=compress&cs=tinysrgb&w=800" alt=""> %>
        <img data-text="G" src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=800" alt="">
        <img data-text="H" src="https://images.pexels.com/photos/3646160/pexels-photo-3646160.jpeg?auto=compress&cs=tinysrgb&w=800" alt="">
      </div>
    </div>
   </div>
  </div>
  <div class="row">
    <div class="col d-flex flex-column align-items-center">
      <div class="homepagecard" style="width: 18rem;">
      <div class="card-img-top">
        <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2023/07/hiking-apps.jpg" alt="Card image cap">
      </div>
        <div class="card-body p-2">
          <h5 class="card-title">Hiking in Slovenia</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="homepagecard" style="width: 18rem;">
          <div class="card-img-top">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/ec/fc/99/caption.jpg?w=1200&h=-1&s=1&cx=640&cy=370&chk=v1_03fe5c156914602bc202" alt="Card image cap">
              </div>
        <div class="card-body p-2">
          <h5 class="card-title">Dining in Paris</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
      <div class="homepagecard" style="width: 18rem;">
        <div class="card-img-top">
          <img src="https://fh-sites.imgix.net/sites/5932/2019/04/24154715/Tour-Caballos-en-la-playa-6marzo2020-0167-e1679674304433.jpg?auto=compress%2Cformat&fit=crop&crop=faces&w=1200&h=900" alt="Card image cap">
        </div>
        <div class="card-body p-2">
          <h5 class="card-title">horseback riding in Porto Rico</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative" data-controller="carousel">
  <div class="absolute left-0 bottom-0 top-0 flex items-center">
    <button type="button" class="rounded-full bg-gray-300"><!-- previous icon --></button>
  </div>
  <div class="absolute right-0 bottom-0 top-0 flex items-center">
    <button type="button" class="rounded-full bg-gray-300"><!-- next icon --></button>
  </div>
    <div data-carousel-target="image">
      <%=
        turbo_frame_tag "photo",
          class: "absolute top-0 left-0 right-0 bottom-0",
          src: "https://fh-sites.imgix.net/sites/5932/2019/04/24154715/Tour-Caballos-en-la-playa-6marzo2020-0167-e1679674304433.jpg?auto=compress%2Cformat&fit=crop&crop=faces&w=1200&h=900",
          loading: :lazy
        %>
    </div>
</div>
