<div class="container-sm">
  <div class="row">
    <div class="col">
          <%= form_with url: category_list_activities_path, method: :get, class: "searchbar d-flex align-items-center my-2" do %>
            <%= text_field_tag :query,
                  params[:query],
                  placeholder: "Where are you going?",
                  style: "width: 250px",
                  class: "flex-grow-1 search-input"
              %>
            <%= submit_tag "Go", name: "", class: "btn btn-primary" %>
          <% end %>
    </div>
  </div>
  <div class="row">
  <div class="col-12 pb-0 mb-0 mt-1">
  <h2><strong>Memories</h2>
  </div>
   <div class="d-flex justify-content-center my-5 py-0">
    <div class="parent">
      <div class="circle" id="sample-text">
      <% if @random_activity.photo.attached? %>
        <%= cl_image_tag @random_activity.photo.key %>
      <% end %>
      </div>
      <div class="image-holder" data-controller="home">
        <%= cl_image_tag @users_memory[0].photo.key, :class => 'photo-circle' %>
        <%= cl_image_tag @users_memory[1].photo.key %>
        <%= cl_image_tag @users_memory[2].photo.key %>
        <%= cl_image_tag @users_memory[3].photo.key %>
        <%= cl_image_tag @users_memory[4].photo.key %>
        <%= cl_image_tag @users_memory[5].photo.key %>
        <%= cl_image_tag @users_memory[6].photo.key %>
        <%= cl_image_tag @users_memory[7].photo.key %>
      </div>
    </div>
   </div>
   <p>Two weeks already! <%= link_to "Remember...", booking_memory_path(@booking, @memory) %></p>
  </div>
  <div class="row">
  <div class="col-12 py-0 mt-0 mb-3">
    <h2><strong>Getting inspired</h2>
  </div>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active homepagecard">
      <div class="card-img-top">
        <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/health/wp-content/uploads/2023/07/hiking-apps.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="card-body p-2">
        <h5 class="card-title">Hiking in Slovenia</h5>
        <p class="card-text">For hiking and nature lovers alike. Discover some of the best kept secrets when it comes to moutain landscapes.</p>
        <a href="#" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="carousel-item homepagecard">
      <div class="card-img-top">
        <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/ec/fc/99/caption.jpg?w=1200&h=-1&s=1&cx=640&cy=370&chk=v1_03fe5c156914602bc202" class="d-block w-100" alt="...">
      </div>
      <div class="card-body p-2">
          <h5 class="card-title">Dining in Paris</h5>
          <p class="card-text">Yes, as romantic as it gets.</p>
          <a href="#" class="btn btn-primary">Go</a>
      </div>
    </div>
    <div class="carousel-item homepagecard">
      <div class="card-img-top">
        <img src="https://fh-sites.imgix.net/sites/5932/2019/04/24154715/Tour-Caballos-en-la-playa-6marzo2020-0167-e1679674304433.jpg?auto=compress%2Cformat&fit=crop&crop=faces&w=1200&h=900" class="d-block w-100" alt="...">
      </div>
      <div class="card-body p-2">
        <h5 class="card-title">horseback riding in Porto Rico</h5>
        <p class="card-text">Reconnect with nature and feel like a true explorer.</p>
        <a href="#" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
