<div class="container-sm background2">
  <div class="d-flex justify-content-center my-5 py-0">
    <div class="parent">
      <div class="container" id="form-format">
        <div class="row justify-content-center container-form">
          <%= simple_form_for(:search, url: activities_path, method: :get) do |f| %>
            <%# <%= f.input :date %>
            <%= f.input :date,
              as: :string,
              input_html: { data: { controller: "datepicker" } , class: "form-field" } %>
            <%= f.input :time%>
            <%# <%= f.input :time,
              as: :string,
              input_html: { data: { controller: "flatpickr",
                enable_time: "true",
                no_calendar: "true",
                date_format: "H:i",
                time_24hr: "true"
                }
              }%>
            <%= f.input :maximum_price %>
            <%= f.hidden_field :city, value: params[:query] %>
            <%= f.hidden_field :category, value: params[:category] %>
            <%= f.submit "Submit", class: "submit-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
