<div class="container">
  <h1 pb-10><strong>Check details and location</strong></h1>
  <div class="container_photo">
    <%= cl_image_tag @activity.photo.key if @activity.photo.attached? %>
  </div>
  <div class="row">
    <h2 id="left-alignment"><strong><%= "#{@activity.name}" %></strong></h2>
    <p class="description"><%= "#{@activity.description}" %></p>
  </div>
  <div class="col-12" id="btn-link">

  <%# <div> %>
  <%# <%= button_to "Go!", activity_bookings_path(@activity), method: :post, form_class: "create" %>
  <%# </div> %>
  <div class="d-flex col-12 justify-content-between">
    <div id="button-review">
      <%= button_to 'Reviews', activity_reviews_path(@activity), method: :get, class: 'review-button', form_class: "index" %></div>
    <div>
      <%= button_to "Go", activity_bookings_path(@activity), class: 'submit-button', method: :post, form_class: "create" %>
    </div>
  </div>
  </div>
  <div class="row" id="row-sub">
    <div id="reservation-details-box">
      Reservation details:
      <%= "#{@date}"%>
      <%= " at #{@time}"%>
    </div>
    <div>
      <div style="width: 100%; height: 200px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
