<div class="container">
<% @reviews.each do |review| %>
  <div class="col-12 mt-2">
    <div class="d-flex justify-content-start">
      <div class="container-photo-round">
        <%= image_tag review.user.photo %>
      </div>
    <div class="back-button"><%= link_to "Back", :back %></div>
    </div>
  </div>
  <div class="col-12  text-align-left">
    <div class="d-flex justify-content-start">
      <p class="circle-comment"><%= "Posted by #{review.user.first_name} on January 14:" %></p>
    </div>
  </div>
  <div class="col-12">
    <div class="row content-rating">
      <p class="rating">
        <% if review.rating.present? %>
          <% review.rating.times do %>
            ⭐️
          <% end %>
        <% else %>
          <%= "No rating" %>
        <% end %>
      </p>
    </div>
    </div>
    <div class="row content-rating">
      <p class="content"><%= review.content %></p>
    </div>
  <% if review.photos.attached? %>
    <% review.photos.each do |photo| %>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active homepagecard">
      <div class="container_photo_review">
        <%= cl_image_tag photo.key %>
      </div>
      </div>
      </div>
      </div>
    <% end %>
  <% else %>
  <%= "No photos to show" %>
  <% end %>
<% end %>
</div>
